.about-div {
    display: flex;
    flex-direction: column;
    @media (max-width: 767.98px) {
        font-size: 12px;
      }
}

.values {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    gap: 1.5rem;
    @media (max-width: 767.98px) {
        padding: 3em 0;
      }
}