.banner {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin: 5% 0% 5% 0%;
    height: 223px;
    position: relative;
    width: 1240px;
}

.img-banner {
    object-fit: cover;
    width: 1240px;
    border-radius: 25px;
    filter: brightness(60%);
}

h1 {
    position: absolute;
    z-index: 1;
    top: 20%;
    font-size: 48px;
    font-weight: 700;
    color: white;
}