.banner {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin: 5% 0% 5% 0%;
    height: 223px;
    position: relative;
    width: 1240px;
    @media (max-width: 768px) {
        height: 200px;
        width: 100%;
        padding-left: 4%;
}
}

.img-banner {
    object-fit: cover;
    width: 1240px;
    border-radius: 25px;
    filter: brightness(60%);
    @media (max-width: 768px) {
        height: 200px;
        width: 100%;
        padding-left: 2%;
    }
}

h1 {
    position: absolute;
    z-index: 1;
    top: 20%;
    font-size: 48px;
    font-weight: 700;
    color: white;

    @media (max-width: 768px) {
        top: 10%;
        font-size: 48px;
        left: 2%;
        margin-left: 2%;

}
}