.banner {
    display: flex;
    // justify-content: center;
    border-radius: 25px;
    margin: 5% 0% 5% 0%;
    height: 223px;
    position: relative;
    // width: 78vw;
    @media (max-width: 768px) {
        height: 80px;
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
}
}

.img-banner {
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    filter: brightness(60%);
    @media (max-width: 768px) {
        height: 111px;
        width: 100%;
    }
}

h1 {
    margin-left: 17%;
    position: absolute;
    z-index: 1;
    top: 20%;
    font-size: 48px;
    font-weight: 700;
    color: white;

    @media (max-width: 768px) {
        top: 10%;
        font-size: 24px;
        margin-left: -50%;
        // margin-left: 7%;
        // margin-right: 7%;

}
}