.all-collapse2{
    // margin-left: 5%;
    // margin-right: 1%;
    width: 80%;
    position: relative;
    @media (max-width: 768px) {
        width: 92%;

}
}

.collapse2{
    transition-duration: 0.5s;
    transform: rotate(180deg);
    background-color: #ff6060;
    cursor: pointer;
    height: 40px;
    padding-bottom: 6px;

}

.uncollapse2{
    background-color: #FF6060;
    transition-duration: 0.5s;
    transform: rotate(360deg);
    cursor: pointer;
    height: 40px;
    padding-top: 3px;
    @media (max-width: 768px) {
        height: 33px;

    }



}

.conteneur-collapse2{
    display: grid;
    justify-items: center;
    margin: -2% 0% 3% 0%;
    @media (max-width: 768px) {
        margin: 13% 0% 3% 0%;

    }

}

.collapse-content2{
    background-color: #F6F6F6;
    border-radius: 5px;
    margin: 20px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.5s; /* Ajout d'une transition pour l'ensemble des propriétés CSS */

}


.collapse-banner2{
    background-color: #FF6060;
    height: 48px;
    border-radius: 5px;
    margin-bottom: -12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 3px 20px 10px 15px;

}

.collapse-banner-name2{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    p{
        color: white;
        display: flex;
        font-weight: 700;
        font-size: 24px;
        line-height: 1px;

    }
}

.content2{
    color: #000;
    list-style: none; // suppression des puces dans liste
    line-height: 150%;
    font-weight: 500;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    height: 255px;
    text-align: justify;
    transition:
        max-height 3s ease,
        opacity 1s ease; /* Transition pour max-height et opacity */
  }

.show2{
    opacity: 1; /* Changement d'opacité pour rendre visible le contenu */
    max-height: 500px; /* Valeur maximale de la hauteur*/
    height: 100%;
    @media (max-width: 768px) {
        font-size: 14px;
        height: 100%;

    }
  }