.footer-img-kasa{
    background-color: #000000;
    padding-bottom: 20%;
    @media (max-width: 768px) {
        padding-bottom: 0;
    }
}

footer{
    width: 100%;
    background-color: #000000;
    margin-top: 3%;

    @media (max-width: 768px) {
        height: 23vh;
        width: 100vw;
        margin-top: 5%;
}

}

.footer-kasa{
    display: grid;
    justify-content: center;
    padding-top: 57px;
    padding-bottom: 38px;
}

.footer-logo {
    display: grid;
    justify-items: center;
    p{
    color: #FFF;
    @media (max-width: 768px) {
        padding-left: 26%;
        padding-right: 4%;
        font-size: 12px;
    }
    }
}