header{
    width: 1240px;
    // margin-left: 10%;
 
}

.logo-kasa{
    margin-top: 32px;
}

.under-header{
    display: flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    gap: 22%;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
   & a {
    text-decoration: none;
    color: #000;
    flex-wrap: nowrap;

    &.active {
        text-decoration: underline;
    }
    &:hover{
        text-decoration: underline;
        color: #000;

    }
}
}

@media screen and (width <=768px)  {
    .nav-links a {
        text-transform: uppercase; // LETTRE MAJUSCULE
    }

    .logo-kasa {
        width: 40%;
    }
}
