header{
    width: 1240px;
    // margin-left: 10%;
    @media (max-width: 768px) {
        height: 80px;
        width: 100%;
        // padding-left: 0%;
}
 
}

.logo-kasa{
    margin-top: 32px;
    @media (max-width: 768px) {
        width: 70%;
}
}

.under-header{
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
    }
}

.nav-links{
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    gap: 22%;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    @media (max-width: 768px) {
        width: 78%;
        gap: 12%;
        font-size: 16px;


    }
   & a {
    text-decoration: none;
    color: #000;
    flex-wrap: nowrap;

    @media (max-width: 768px) {
        text-transform: uppercase; // passage à tout en majuscule des liens
}

    &.active {
        text-decoration: underline;
    }
    &:hover{
        text-decoration: underline;
        color: #000;

    }
}
}