.conteneur-logements{
    background-color: #F6F6F6;
    border-radius: 25px;
    width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-top: 30px;
    
}

.click-card{
    height: 340px;
    width: 340px;
    position: relative;
    margin-bottom: 11%;
}

main {
    margin-left: 10%;
}