.conteneur-logements{
    background-color: #F6F6F6;
    border-radius: 25px;
    width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    padding: 30px 20px 0 20px;
    margin: 2% 8% 2% 7%;

    
}

.click-card{
    height: 340px;
    width: 340px;
    position: relative;
    margin-bottom: 11%;
}


@media screen and (width <=768px)  {
    .conteneur-logements{
        grid-template-columns: repeat(1, 1fr);
        background-color: #FFFFFF;
    }
    .conteneur-logements > * {
        max-width: none;
    }
    .click-card {
        width: 102%;
    }

}