.conteneur-logements{
    background-color: #F6F6F6;
    border-radius: 25px;
    width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center;
    padding: 30px 20px 0 20px;
    margin: 0% 0% 0% 0%;


@media screen and (width <= 768px) {
    grid-template-columns: repeat(1, 1fr);
        background-color: #FFFFFF;
        width: 384px;
        margin-bottom: 0;
        gap: 10rem;
        margin-left: -2%;


}
}

.click-card{
    height: 340px;
    width: 340px;
    position: relative;
    margin-bottom: 11%;

    @media screen and (width <= 768px) {
            width: 335px;
            height: 255px;
            margin-bottom: 0;
    }
    
}
