body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;


  // flex-direction: column;
  // width: 1440px;
  // justify-content: center;
  // max-width: 1440px;
  // padding-top: 40px;
  // margin: 0 15%;
  // padding: 2rem 3rem;
  // min-height: 70vh;

}

* {
  box-sizing: border-box;
}